/* styles.css */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

h1 {
  text-align: center;
}

fieldset {
  border: 2px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
}

legend {
  font-weight: bold;
}

label {
  display: block;
  margin: 5px 0;
}

input[type="number"], input[type="text"] {
  width: calc(100% - 22px);
  padding: 5px;
  margin-bottom: 10px;
}

button {
  margin-top: 5px;
}

div#purchaseExpenses, div#resaleExpenses, div#reinvestmentPurchaseExpenses, div#reinvestmentResaleExpenses {
  margin-bottom: 10px;
}

#reinvestmentForm {
  border-top: 2px solid #ddd;
  padding-top: 10px;
}

#totalProfit, #totalProfitRate, #reinvestmentProfit, #reinvestmentProfitRate {
  font-weight: bold;
}
