/* styles.css */
body {
    font-family: Arial, sans-serif;
}

h1 {
    text-align: center;
}

form {
    width: 80%;
    margin: auto;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="number"] {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
}

#profitContainer {
    margin-top: 20px;
}

#profit, #profitMargin {
    font-weight: bold;
}
